/* ---------------------------------------------- */
/* --------- Titres/textes ---------------------- */
/* ---------------------------------------------- */

.title {
  font-size: 50px;
  font-weight: bold;
}

.subtitleNavbar {font-size: 18px; color: #57C528; text-decoration: none;}

.titleNavbar {font-size: 25px; text-decoration: none; color: #57C528;}

.titleForm {
  font-size: 32px;
  font-weight: bold;
}

.quizz-question {
  width: 100%;
  height: 50px;
}

.titleTable { background-color: rgb(42, 44, 44); color: rgb(247, 243, 243)}


/* ---------------------------------------------- */
/* --------- Containers ------------------------- */
/* ---------------------------------------------- */

.Modal { 
  position: absolute;
  background-color: rgba(155, 152, 146, 0.94);
  overflow: scroll;
}

.box-quizz {
  border: solid 6px rgba(247, 195, 235, 0.300);
  height: 630px;
  text-align: center;
  width: 60%;
  transition: "all .2s";
  overflow-x: scroll;
}

/* ---------------------------------------------- */
/* --------- Eléments --------------------------- */
/* ---------------------------------------------- */
.txt-intro {
  width: 100%;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

td:hover:nth-child(1), td:hover:nth-child(2) {background-color: #f58484;}

td:hover:nth-child(n+3) {background-color: #43b6d3;}

tr:nth-child(4n + 1) td,
tr:nth-child(4n + 3) td {
  background-color: rgba(233, 229, 229, 0.925);
}


.inputbg-blue { 
  color: white;
  border: none;
  background-color: rgba(108, 201, 207, 0.1)
}

.input-quizz {
  color: black;
  border: none;
  background-color: rgba(108, 201, 207, 0.1);
  width: 40%;
}

.img-quizz {
  width: 30%;
}

.setClose {
  float: right;
  color: red;
}

.btnAnswer {
  border: solid 1px red;
  background-color: white;
  margin-top: 15px;
  padding: 15px 0 15px;
}

.btnAnswer:hover {
  background-color: #5cb8c9;
}

/* ---------------------------------------------- */
/* --------- classes CSS importées --------------- */
/* ---------------------------------------------- */



.orange { background-color:#F05537; border: 1px none #dddddd;}

.btnAnswer{
  border-color: #f1a90f;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 0.7s ease-in-out;
}

.btnAnswer:hover {background-position: 0;}


/* ---------------------------------------------- */
/* --------- classes CSS à un paramètre---------- */
/* ---------------------------------------------- */

.mt15 { margin-top: 15%;}

.ftsize25 { font-size: 25px;}
.ftsize55 { font-size: 55px; font-weight: bold;}

.hide-error { visibility: hidden;}

.fullHeight{height: 100%;}

.colorWrite {color: black;}

.bg-grey { background-color: grey;}

.w100 { width: 100%;}
.w40 { width: 40%;}
.w20 { width: 20%;}

.ov {overflow: scroll;}

.space-right { margin-right: 7px;}

.msgError { color: red;}

.subtitleNavbar:hover, .titleNavbar:hover { color: rgb(129, 29, 29)}

.blueFont {color: #5cb8c9;}

.float-right {float: right}

/* ---------------------------------------------------------------------------- */
/*  Media-queries custom, leur classe css parente doit être déclarée au dessus  */
/* ---------------------------------------------------------------------------- */

@media screen and (min-width: 1100px) {

  .Modal { 
    left: 25%; 
    top: 15%;
    width: 55%;
    height: 65%;}

  .interAdmin { margin-right: 35px; margin-left: 35px}

  .btnAnswer {width: 51%;}

  .quizz-question {font-size: 20px;}
}

@media screen and (min-width: 751px) and (max-width: 1050px) {
  .box-quizz {width: 90%; }

  .chartQuizz {height: 1000px;}

  .Modal {
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
  }

  .btnAnswer {width: 51%;} 

  .admin-co-div input{width: 30%;}
  
  .admin-co-div label {width: 15%;}
}
  
@media screen and (min-width: 451px)  and (max-width: 750px) {

  .admin-co-div input{width: 90%;}
  
  .admin-co-div label {width: 90%;}

  .Modal {
    left: 0%;
    width: 100%;
    height: 70%;
  }

  .box-quizz {width: 100%; }

  .btnAddEtp, .inputAddEtp {width: 60%;}

  .input-quizz {
    font-size: 18px;
    width: 60%;
  }

  .img-quizz {width: 40%;}

  .btnAnswer {width: 51%;} 

}
  
@media screen and (min-width: 301px) and (max-width: 450px) {
  .Modal {width: 100%;}

  .btnAddEtp, .inputAddEtp {width: 90%;}

  .box-quizz {
    width: 100%;
    height: 460px;
  }

  .txt-intro { width: 100%; font-size: 14px;}

  .input-quizz {
    width: 70%;
    font-size: 15px;
  }

  .img-quizz {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 150px;
  }

  .btnAnswer {width: 100%;}

  .title-quizz {height: 30px;}

  .interAdmin button { margin-top: 10px; }
}
  
@media screen and (max-width: 300px) {

  .box-quizz {
    width: 100%;
    height: 640px;
  }

  .btnAnswer { width:  80%;}

  .img-quizz {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .img-quizz {width: 60%;}
}
  